
.buttonInMoviesList {
    background-color: #080808;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border:2px solid #E50914 ;
  }


  section{
    padding-top:200px;
  }

  /*media queries for responsivness*/

@media all and (max-width:710px){
  section > div{
   margin-left:50%;
   position: relative;
   right:150px;
  }
}