@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

body{
    background: black;
    color:white;
    font-family: "cairo", sans-serif;
}


section{
    padding-top:150px;
  }

 .popcorns{
     display: flex;
     justify-content: space-between;
 }


.mainchapter{

    min-height:100%;
    width:100%;
    margin: auto;
    text-align: center;
    background-color: black;
    color:white;
    border-radius: 25px;
    padding:0;
   }
   
   .mainchapter #nested-div img{
     width:45%;
     height:500px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.19),
    0 6px 20px  rgba(0,0,0,0.19);
    }

   #nested-div{
       display: flex;
       justify-content: center;
       column-gap:100px;
       margin-top: 10px;
   }

   #some-details{
       text-align: left;
       align-self:center;
   }

   #some-details p span{
       font-weight: bold;
   }

   


   .mainchapter > p{
       width:40%;
       margin: auto;
       margin-top: 50px;
   }

   .mainchapter h1{
       margin-top: 20px;
       font-size: 50px;
       font-weight: 600;
       text-shadow: 4px 2px 3px #fff;
   }

   .mainchapter p{
       font-size: 25px;
       font-weight: 300;
   }


   .mainchapter > p{
       text-align: left;
   }

   

